<div class="auth-main">
    <div class="auth-wrapper v3">
      <app-alert></app-alert>
      <div class="auth-form">
        <div class="auth-header">
          <a href="javascript:"><img src="assets/images/QAstra logo horizontal.png" alt="logo" /></a>
        </div>
        <div class="card my-5">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-end mb-4">
              <h3 class="mb-0"><b>Reset Password</b></h3>
            </div>
            <form [formGroup] ="resetPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <div class="error-message" *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
                  <span id="password-error-message">A valid password is required</span>
                </div>
                <label class="form-label" for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password"/>
              </div>
              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary" [disabled]="isSubmitting || resetPasswordForm.invalid">Reset Password</button>
              </div>
              <div class="error-message" *ngIf="errorMessage">
                <span>{{errorMessage}}</span>
              </div>
            </form>
          </div>
        </div>
        <div class="auth-footer row">
          <div class="col-auto my-1">
          </div>
        </div>
      </div>
    </div>
  </div>
  


