<ul class="list-unstyled flex items-center gap-2">
  <!-- GitHub Link -->
  <!-- <li>
    <a mat-icon-button href="https://github.com/codedthemes/mantis-free-angular-admin-template" target="_blank" class="bg-gray-200">
      <mat-icon svgIcon="github">code</mat-icon>
    </a>
  </li> -->
  
  <li class="dropdown pc-h-item">
    <button class="pc-head-link dropdown-toggle arrow-none me-0 bg-gray-200" mat-icon-button [matMenuTriggerFor]="notificationMenu">
      <mat-icon>notifications</mat-icon>
      <span class="badge bg-primary pc-h-badge" matBadgeColor="primary" matBadgeOverlap="false">3</span>
    </button>

    <mat-menu class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown" #notificationMenu="matMenu" class="notification-menu">
      <div class="px-4 pt-2">
        <h5 class="m-0">Notification</h5>
      </div>
      <mat-divider></mat-divider>
      <div style="max-height: 300px; overflow: auto;" class="py-2 px-3">
        <div *ngFor="let item of notifications">
          <a class="dropdown-item d-flex gap-2">
            <div class="user-avatar bg-light-success">
              <mat-icon>{{ item.icon }}</mat-icon>
            </div>
            <div class="flex-grow-1">
              <span class="float-end text-muted">{{ item.time }}</span>
              <p class="mb-1">{{ item.message }}</p>
              <small class="text-muted">{{ item.subtext }}</small>
            </div>
          </a>
        </div>
      </div>
      <mat-divider></mat-divider>
      <button mat-button class="w-full text-center">View all</button>
    </mat-menu>
  </li>
<li class="dropdown pc-h-item header-user-profile">
    <button mat-button [matMenuTriggerFor]="userMenu" class="pc-head-link">
      <img src="assets/images/user/avatar-2.jpg" class="user-avatar me-2" />
      <span>John Doe</span>
    </button>

    <mat-menu #userMenu="matMenu" class="user-profile-menu">
      <div class="px-3 py-2">
        <div class="d-flex align-items-center">
          <img src="assets/images/user/avatar-2.jpg" class="user-avatar wid-35 me-2" />
          <div>
            <h6 class="mb-0">JWT User</h6>
            <span>UI/UX Designer</span>
          </div>
        </div>
      </div>
      <div class="px-3 py-2" *ngFor="let task of profile">
            <button mat-menu-item>
              <mat-icon class="text-muted">{{ task.icon }}</mat-icon>
              <span>{{ task.title }}</span>
            </button>
          </div>
          <button mat-menu-item (click)="logout()">
            <mat-icon class="text-muted">logout</mat-icon>
            <span>Logout</span>
          </button>


      <!-- <mat-divider></mat-divider>

      <mat-tab-group>
        <mat-tab label="Profile">
          <div class="px-3 py-2" *ngFor="let task of profile">
            <button mat-menu-item>
              <mat-icon class="text-muted">{{ task.icon }}</mat-icon>
              <span>{{ task.title }}</span>
            </button>
          </div>
          <button mat-menu-item (click)="logout()">
            <mat-icon class="text-muted">logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-tab>

        <mat-tab label="Setting">
          <div class="px-3 py-2" *ngFor="let task of setting">
            <button mat-menu-item>
              <mat-icon class="text-muted">{{ task.icon }}</mat-icon>
              <span>{{ task.title }}</span>
            </button>
          </div>
        </mat-tab>
      </mat-tab-group> -->
    </mat-menu>
  </li>
</ul>
